// Put your custom SCSS code here
p img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

table img, 
.entry-content img { 
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}